@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Commissioner", serif;
}
:root {
  --modrate_cyan: hsl(176, 50%, 47%);
  --dark_cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark_grey: hsl(0, 0%, 48%);
  --white: hsl(0, 0%, 100%);
}
p {
  font-size: 1rem;
}
body {
  background-color: hsl(0, 2%, 92%);
  position: relative;
}

.header {
  width: 100%;
  height: 60vh;
  background-image: url("./images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 3rem 5rem 0 5rem;
  display: flex;
  justify-content: space-between;
}
.header nav ul li {
  list-style: none;
  display: inline;
  margin-left: 1.5rem;
}
.header nav ul li a {
  text-decoration: none;
  color: var(--white);
}

.intro {
  background: var(--white);
  width: 50%;
  margin: -5% auto 0 auto;
  padding: 0 2rem 2rem 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.master-logo {
  text-align: center;
}
.master-logo img {
  margin-top: -5%;
}
.master-logo h1 {
  font-size: 2.1rem;
  margin-top: 1rem;
  color: var(--black);
}
.master-logo p {
  color: var(--dark_grey);
  padding: 0.5rem 0;
}
.intro-button {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back-button {
  padding: 1rem 1.5rem;
  background: var(--modrate_cyan);
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--white);
  border-radius: 1.5rem;
}
.back-button:hover {
  background: var(--dark_cyan);
}
.bookmark-button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0 1.5rem 0 0;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.analysis {
  width: 50%;
  background: var(--white);
  margin: 1% auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.analysis-wrapper {
  display: flex;
  gap: 3rem;
}
.analysis-content {
  border-right: 2px solid var(--dark_grey);
  padding-right: 2.5rem;
}
.analysis-content:last-child {
  border: none;
}
.analysis-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.analysis-content p {
  color: var(--dark_grey);
}
.progress-bar {
  width: 100%;
  height: 1rem;
  background-color: hsl(0, 2%, 92%);
  margin-top: 1.5rem;
  border-radius: 1rem;
}
.bar {
  width: 50%;
  height: 1rem;
  background: var(--modrate_cyan);
  border-radius: 1rem;
}
.about {
  width: 50%;
  background: var(--white);
  margin: 1% auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.about-title {
  margin-bottom: 1rem;
}
.about-desc {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  color: var(--dark_grey);
}
.about-wrapper {
  border: 2px solid hsl(0, 2%, 92%);
  padding: 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 0.7rem;
}
.about-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.about-content-header p {
  color: var(--modrate_cyan);
}
.about-content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-content-footer h1 {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.about-content-footer h1 span {
  font-size: 1rem;
  font-weight: 300;
  color: var(--dark_grey);
}
.disabled-btn {
  padding: 1rem 2rem;
  background: hsl(0, 0%, 84%);
  outline: none;
  border: none;
  color: var(--white);
  border-radius: 1.5rem;
}
.edit h2 {
  color: var(--dark_grey);
}
.edit p {
  opacity: 0.5;
}
.edit-desc,
.edit h1,
.edit h1 span {
  opacity: 0.5;
}
.modal-container {
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.modal-content {
  background: var(--white);
  width: 50%;
  margin: 15% auto;
  padding: 1.5rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.icon-close-modal {
  float: right;
}
.modal-title {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
.no-reward {
  border: 2px solid hsl(0, 2%, 92%);
  padding: 1.5rem;
  border-radius: 0.3rem;
  display: flex;
  gap: 3rem;
}
.checkbox-outer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid hsl(0, 2%, 80%);
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-inner {
  width: 20px;
  height: 20px;
  background: var(--modrate_cyan);
  border-radius: 50%;
  display: none;
}
.no-reward-content h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.reward {
  border: 2px solid hsl(0, 2%, 92%);
  border-radius: 0.3rem;
  margin: 0.5rem 0;
}
.reward.active {
  border: 2px solid var(--modrate_cyan);
}
.reward-wrapper {
  padding: 1.5rem;
}
.reward-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reward-header-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reward-header-title h2 {
  margin-left: 2.5rem;
  font-size: 1.2rem;
}
.reward-header-title p {
  color: var(--modrate_cyan);
  font-weight: 500;
}
.items-left {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.items-left span {
  font-weight: 300;
  font-size: 1rem;
}
.reward-main {
  margin-left: 5rem;
  margin-top: 1rem;
}
.pledge-form-wrapper {
  display: none;
}
.pledge-form {
  border-top: 2px solid hsl(0, 2%, 92%);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pledge-form p {
  color: var(--dark_grey);
  width: 70%;
}
.pledge-input {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.pledge-input input {
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid var(--dark_grey);
  outline: none;
  font-size: 1.5rem;
  font-weight: 700;
  width: 50%;
}
.pledge-input button {
  width: 45%;
  padding: 1.5rem;
  border-radius: 2rem;
}
.modal-success-container {
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.modal-success-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30% 0;
}
.modal-success-content {
  background: var(--white);
  width: 30%;
  padding: 1.5rem;
  border-radius: 0.3rem;
  text-align: center;
}
.modal-success-content h2 {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.modal-success-content p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.icon-menu,
.bookmark-mobile,
.icon-close-modal-mobile {
  display: none;
}
@media (max-width: 600px) {
  .header {
    width: 100%;
    height: 100vh;
    background-image: url("./images/image-hero-mobile.jpg");
    padding: 2rem 1rem 0 1rem;
  }
  .icon-menu {
    display: block;
  }
  .header nav {
    /* display: none; */
    transform: translateY(-100%);
    position: absolute;
    top: 2%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in;
  }
  .header nav ul {
    width: 70%;
    background: var(--white);
    margin: 3% auto;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  }
  .header nav ul li {
    display: block;
    margin: 1rem 0;
    border-bottom: 1px solid hsl(0, 2%, 92%);
    padding: 1rem 0.5rem;
  }
  .header nav ul li:last-child {
    border-bottom: 0;
  }
  .header nav ul li a {
    color: var(--black);
  }
  .intro {
    margin: -70% auto 0 auto;
    padding: 0 1.5rem 1.5rem 1.5rem;
    width: 90%;
  }
  .master-logo img {
    margin-top: -10%;
  }
  .master-logo h1 {
    font-size: 1.5rem;
  }
  .bookmark-button {
    display: none;
  }
  .bookmark-mobile {
    display: block;
  }
  .analysis {
    width: 90%;
    margin: 2% auto;
  }
  .analysis-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .analysis-content {
    border-right: none;
    border-bottom: 2px solid hsl(0, 2%, 92%);
    padding-bottom: 2rem;
    padding-right: 0;
    width: 50%;
    margin: auto;
  }
  .about {
    width: 90%;
  }
  .about-content-header,
  .about-content-footer {
    flex-direction: column;
    align-items: start;
  }
  .about-content-header h2,
  p {
    margin-bottom: 0.5rem;
  }
  .about-content-footer h1 {
    margin-bottom: 0.5rem;
  }

  /*modal session */
  .modal-content {
    width: 90%;
    margin-top: 35%;
  }
  .icon-close-modal {
    display: none;
  }
  .icon-close-modal-mobile {
    display: block;
  }
  .modal-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .no-reward {
    gap: 1rem;
  }
  .no-reward-content h2 {
    font-size: 1rem;
  }
  .no-reward-content p {
    margin-left: -20%;
    margin-top: 1.5rem;
  }
  .reward-wrapper {
    position: relative;
  }
  .items-left {
    position: absolute;
    bottom: 1rem;
  }
  .reward-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .reward-header-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .reward-header-title h2 {
    margin-left: 3rem;
    margin-top: -15%;
    font-size: 1rem;
  }
  .reward-header-title p {
    display: block;
    margin-left: 3rem;
  }
  .reward-main {
    margin-left: 0;
    padding-bottom: 1rem;
  }
  .pledge-form{
    flex-direction: column;
    text-align: center;
  }
  .pledge-form p{
    width: 100%;
    margin-bottom: 1rem;
  }
  .pledge-input{
    width: 100%;
  }
  .modal-success-content{
    width: 90%;
  }
}
